.descriptionPar {
    padding-left: 20%;
    padding-right: 20%;
}


/*.portfolio-image {
    height: 150px;
    width: 150px;
    margin: 5px;
    float: right;

}*/

.about-parr {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 0px;
    
}

.profile-image {
    margin-top: 50px;
    position: absolute;
    top: 0;
    height: 180px;
    width: 180px;
    border-color: rgb(50,50,50);
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    float: right;
}

.EduPar {
    text-align: center;
}

.spanStyle {
    text-align: center;
    margin: auto;
}